{{ define "main" }}
    <div class="index-content">
        {{ .Content }}
    </div>
    <div class="terms-grid">
        {{ range .Data.Terms.ByCount }}
            {{ $postsNum := len (where .Pages "Params.hidden" "!=" true) }}
            {{ if gt $postsNum 0 }}
                <div class="term-card">
                    <div class="term-content">
                        <h2 class="term-title">
                            <a href="{{ .Page.RelPermalink }}" class="term-link">
                                {{ i18n (printf "category_%s" (lower .Page.Title)) | default (.Page.Title | humanize) | markdownify }}
                            </a>
                        </h2>
                        {{ with i18n (printf "category_description_%s" (lower .Page.Title)) }}
                            <p class="term-description">{{ . }}</p>
                        {{ end }}
                    </div>
                </div>
            {{ end }}
        {{ end }}
    </div>
{{ end }}