@font-face {
    font-family: 'Gilroy Light';
    src: url('/fonts/Gilroy-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gilroy Light', sans-serif;
}

.toc    {
    cursor: pointer;
}
.toc.expanded   {
    cursor: pointer;
}

table   {
    overflow: hidden;
}