{{ define "main" }}
    <div class="homepage-content">
        {{ .Content }}
    </div>

    <div class="articles h-feed">
        {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
        {{ $pages := where $pages "Params.hidden" "!=" true }}
        {{ $paginator := .Paginate $pages }}
        
        {{ range $paginator.Pages }}
            {{ partial "post-summary.html" . }}
        {{ end }}
        
        {{ partial "pagination.html" . }}
    </div>
    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "702ccca5727a4a4090b7714b2e4de2b6"}'></script><!-- End Cloudflare Web Analytics -->
{{ end }}