<a href="https://img.techotters.org/{{ .Get "folder" }}/{{ .Get "src" }}" target="_blank">
    <img 
      src="https://img.techotters.org/cdn-cgi/image/w=800,quality=80,format=webp/{{ .Get "folder" }}/{{ .Get "src" }}" 
      srcset="
        https://img.techotters.org/cdn-cgi/image/w=400,quality=80,format=webp/{{ .Get "folder" }}/{{ .Get "src" }} 400w,
        https://img.techotters.org/cdn-cgi/image/w=800,quality=80,format=webp/{{ .Get "folder" }}/{{ .Get "src" }} 800w,
        https://img.techotters.org/cdn-cgi/image/w=1200,quality=80,format=webp/{{ .Get "folder" }}/{{ .Get "src" }} 1200w"
      sizes="(max-width: 600px) 400px, (max-width: 1200px) 800px, 1200px"
      alt="{{ .Get "alt" }}"
      loading="lazy">
  </a>
  